@using Blazor_WASM_MovieApp.Client.Pages.BaseComponents
@using Blazor_WASM_MovieApp.Models
@using Blazored.FluentValidation
@inherits EditCreditComponentBase

@if (isErrorActive)
{
    <div class="alert alert-danger" role="alert">


        @foreach (var err in ErrorList)
        {

            <p>@err.ErrorMessage</p>

        }


    </div>
}

<div class="col-md-4 edit-person">
    <EditForm Model="credit" OnValidSubmit="CreateCredit">

        <div class="form-group mt-3 col">

            <label class="control-label">People</label>
            <input class="form-control" list="people" @onchange="@((args) => Name = args.Value.ToString())">
            <datalist id="people">
                @foreach (Person person in people)
                {
                    <option value="@person.Vorname @person.Name"></option>
                }
            </datalist>

        </div>

        <div class="form-group mt-3 col">
            <label class="control-label">Functions</label>
            <InputSelect class="form-select" ValueExpression="@(()=>credit.FunctionId)"
                         Value="@credit.FunctionId"
                         ValueChanged="@((int value) => SetFunction(value))">

                @foreach (Function function in functions)
                {
                    <option value=@function.Id>@function.FunctionName</option>
                }
            </InputSelect>


        </div>

        @if (credit.FunctionId != 0)
        {
            @if (isRoleRequired)
            {
                <div class="form-group mt-3 col">

                    <label class="control-label">Role</label>
                    <InputText class="form-control" @bind-Value="credit.Role" />

                </div>
            }
        }

        <div class="form-group mt-3">

            <MudButton ButtonType="MudBlazor.ButtonType.Submit" Variant="Variant.Filled" Color="MudBlazor.Color.Primary">Save</MudButton>
             <MudButton Variant="Variant.Filled" Color="MudBlazor.Color.Error" @onclick="DeleteCredit">Delete</MudButton>
            <MudButton Variant="Variant.Filled" Color="MudBlazor.Color.Error" @onclick="ModalInstance.CancelAsync">Cancel</MudButton>

        </div>

    </EditForm>

</div>

@code {

}
