@page "/edit/{Id:int}"
@using Blazor_WASM_MovieApp.Models
@using Blazor_WASM_MovieApp.Client.Pages.BaseComponents
@using Blazored.FluentValidation
@using Blazorise
@using Blazorise.RichTextEdit
@inherits EditBase


<h1 class="text-center">Edit Movie</h1>

<hr />

@if (isErrorActive)
{
    <div class="alert alert-danger" role="alert">

        <ul class="list-unstyled">
            @foreach (var err in ErrorList)
            {
                <li>

                    <p>@err.ErrorMessage</p>

                </li>

            }
        </ul>

    </div>
}

<div class="d-flex justify-content-center">

    <div class="col-md-4 ">
        <EditForm Model="movie" OnValidSubmit="UpdateMovie">
            <FluentValidationValidator />

            <InputNumber class="hidden" @bind-Value="movie.Id"></InputNumber>

            <div class="form-group mt-3">

                <label class="control-label">Title</label>
                <InputText @bind-Value="movie.Title" class="form-control" />
                <ValidationMessage For="() => movie.Title" />

            </div>

            <div class="row">
                <div class="form-group mt-3 col">

                    <div class="form-group pb-3 col">

                        <label class="control-label">Release Date</label>
                        <InputDate @bind-Value="movie.ReleaseDate" class="form-control" />
                        <ValidationMessage For="() => movie.ReleaseDate" />

                    </div>
                    <div class="form-group mt-3 pb-3 col">

                        <label class="control-label">Price</label>
                        <InputNumber @bind-Value="movie.Price" class="form-control" />

                    </div>
                    <div class="form-group mt-3 pt-3 col">
                        <label class="control-label">Rating</label>
                        <InputSelect class="form-select" @bind-Value="movie.Rating">

                            <option value="G">G</option>
                            <option value="PG">PG</option>
                            <option value="PG-13">PG-13</option>
                            <option value="R">R</option>
                            <option value="NC-17">NC-17</option>

                        </InputSelect>

                    </div>

                </div>


                <div class="form-group mt-3 col">
                    <label class="control-label">Genre</label>

                    <br />
                    <div class="scrollable-div-edit">

                        @foreach (Genre genre in genres)
                        {
                            if (GenreIds.Contains(genre.Id))
                            {
                                <label class="ps-2 pt-1">

                                    @genre.Name
                                    <input type="checkbox" class="form-check-input" aria-label="Default select example" @key="genre.Id" @onchange="eventArgs => { CheckboxClicked(genre.Id, eventArgs.Value); }" checked />

                                </label>
                                <br />
                            }
                            else
                            {
                                <label class="ps-2 pt-1">

                                    @genre.Name
                                    <input type="checkbox" class="form-check-input" aria-label="Default select example" @key="genre.Id" @onchange="eventArgs => { CheckboxClicked(genre.Id, eventArgs.Value); }" />

                                </label>
                                <br />
                            }

                        }

                    </div>


                </div>
            </div>

            <div class="row pb-4">
                <div class="form-group mt-3 col ">

                    <label class="control-label">Description</label>

                    <RadzenHtmlEditor @bind-Value=@movie.Description style="height: 400px;" />

                </div>
            </div>

            <div class="row">
                @if (!bClearInputFile)
                {
                    <div class="form-group col">
                        <div class="d-flex">

                            <InputFile class="form-control" OnChange="LoadImage" accept="image/*" />
                            <button type="button" class="btn btn-primary" @onclick="DeleteImage"><span class="iconify" data-icon="gridicons:trash"></span></button>

                        </div>

                        @if (ImageName != string.Empty)
                        {
                            <div class="form-label">

                                <label class="form-">@ImageName loaded</label>

                            </div>
                        }


                    </div>
                }
            </div>
            <div class="form-group mt-3 pb-4">

                <input type="submit" value="Save" class="btn btn-primary" />
                <AuthorizeView Roles="admin" Context="authContext">
                    @if (movie.IsDeleted)
                    {
                        <a class="btn btn-primary" @onclick="@RestoreMovie">Restore</a>
                    }
                </AuthorizeView>
                <button type="button" class="btn btn-danger" @onclick="@Cancel">Cancel</button>

            </div>

        </EditForm>

    </div>
    <div class="col-md-4 ms-4">

        <div class="form-group mt-3 col overflow-auto">

            <label class="control-label">Credits</label>
            <div class="scrollable-div-edit">
                <table>

                    <thead>

                        <tr>

                            <th class="pe-2"> First Name </th>

                            <th class="pe-2"> Last Name </th>

                            <th class="pe-2"> Function </th>

                            <th class="pe-2"> Role </th>

                            <th>Actions</th>

                        </tr>

                    </thead>

                      <tbody ondragover="event.preventDefault();" ondragstart="event.dataTransfer.setData('', event.target.id);">

                        @foreach (Credit credit in creditList.OrderBy(x => x.Position))
                        {

                           <tr @ondrop="(() => Drop(credit))" @ondragleave="@(()=> {credit.IsDragOver = false; shouldRender = true;})"
                            @ondragenter="@(()=>{shouldRender = true;})"
                            @ondragstart="() => {SetIndex(credit); shouldRender = true;}"
                            @ondragend="()=> {shouldRender = true;}" draggable="true">

                                <td> @credit.Person.Vorname </td>

                                <td> @credit.Person.Name</td>

                                <td>

                                    @if (credit.Function != null)
                                    {
                                        @credit.Function.FunctionName
                                    }

                                </td>

                                <td>

                                    @if (credit.Function != null && credit.Function.IsRoleRequired)
                                    {
                                        @credit.Role
                                    }

                                </td>

                                <td>
                                    <button @onclick="@(() => ShowEditCredit(credit))" class="btn btn-primary">Edit</button>
                                    <button @onclick="@(() => DeleteCredit(credit))" class="btn btn-danger">Delete</button>

                                </td>


                            </tr>


                        }


                    </tbody>
                </table>
            </div>
            <div class="pl-2 ">

                <div class="float-start mt-2">
                    <a type="button" class="btn btn-secondary me-2 mb-2" @onclick="@(() => ShowAddCredit())">Add Credit</a>
                </div>

            </div>
        </div>


    </div>
</div>

@code {





}
