@page "/Login"
@using Blazor_WASM_MovieApp.Client.Pages.BaseComponents
@using Blazored.FluentValidation
@inherits LoginBase

@if (ShowAuthError)
{
    <div class="alert alert-danger" role="alert">
        <p>@Error</p>
    </div>
}

<div class="d-flex justify-content-center">

    <div class="col-md-4">
        <EditForm Model="authInput" OnValidSubmit="LoginUser">
            @*<FluentValidationValidator />*@
            <div>
                <h3 class="text-center">Login</h3>
            </div>

            <hr />
            <MudPaper Class="pa-4" Style="@($"background:#e0dada;")">
            <div class="form-floating mb-3" >
                <MudTextField  @bind-Value="authInput.Username" Clearable="true" Label="Username" Variant="Variant.Filled" Style="@($"background:#e0dada;")"  />
                <ValidationMessage For="() => authInput.Username" />


            </div>
            <div class="form-floating">
                <MudTextField InputType="@PasswordInput" Clearable="true"  @bind-Value="authInput.Password" Label="Password" Variant="Variant.Filled" Style="@($"background:#e0dada;")" />
                <ValidationMessage For="() => authInput.Password" />
                

            </div>
            </MudPaper>
            <div class="d-flex mt-3 justify-content-center">
                <MudButton ButtonType="MudBlazor.ButtonType.Submit" Class="btn btn-primary me-4" Variant="Variant.Filled" Color="Color.Primary">Login</MudButton>
                <MudButton Variant="Variant.Filled" Color="MudBlazor.Color.Error" Href="/">Cancel</MudButton>
            </div>
        </EditForm>
    </div>

</div>

@code {
InputType PasswordInput = InputType.Password;
}
