@page "/Register"
@using Blazor_WASM_MovieApp.Client.Pages.BaseComponents
@using Blazor_WASM_MovieApp.Validators
@using Blazored.FluentValidation
@inherits RegisterBase

<div class="d-flex justify-content-center">
    <div class="col-md-4">
        <EditForm Model="authInput" OnValidSubmit="AddUser">
            <FluentValidationValidator />
            <div>
                <h3 class="text-center">Create a new account</h3>
            </div>

            <hr />
            <MudPaper Class="pa-4" Style="@($"background:#e0dada;")">
                <div class="form-floating">
                    <MudTextField @bind-Value="authInput.Username" Clearable="true" Label="Username" Variant="Variant.Filled" Style="@($"background:#e0dada;")" />
                    <ValidationMessage For="() => authInput.Username" />

                </div>
                <div class="form-floating">
                    <MudTextField @bind-Value="authInput.Email" Clearable="true" Label="Email" Variant="Variant.Filled" Style="@($"background:#e0dada;")" />
                    <ValidationMessage For="() => authInput.Email" />

                </div>
                <div class="form-floating">
                    <MudTextField @bind-Value="authInput.PhoneNumber" Clearable="true" Label="Phone number" Variant="Variant.Filled" Style="@($"background:#e0dada;")" />
                    <ValidationMessage For="() => authInput.PhoneNumber" />

                </div>
                <div class="form-floating">
                    <MudTextField InputType="@PasswordInput" Clearable="true" @bind-Value="authInput.Password" Label="Password" Variant="Variant.Filled" Style="@($"background:#e0dada;")"  />
                    <ValidationMessage For="() => authInput.Password" />

                </div>
                <div class="form-floating">
                    <MudTextField InputType="@PasswordInput" Clearable="true" @bind-Value="authInput.ConfirmPassword" Label="Confirm Password" Variant="Variant.Filled" Style="@($"background:#e0dada;")" />
                    <ValidationMessage For="() => authInput.ConfirmPassword" />

                </div>
                <div class="form-floating">

                    <MudSelect T="string" @bind-Value="Role" Label="Rating" Variant="Variant.Filled" AnchorOrigin="Origin.BottomCenter">

                        <MudSelectItem Value="@("reader")">Reader</MudSelectItem>
                        <MudSelectItem Value="@("writer")">Writer</MudSelectItem>

                    </MudSelect>

                </div>
            </MudPaper>
            <div class="d-flex mt-3 justify-content-center">

                <MudButton ButtonType="MudBlazor.ButtonType.Submit" Class="btn btn-primary me-4" Variant="Variant.Filled" Color="Color.Primary" >Register</MudButton>
                <MudButton Variant="Variant.Filled" Color="MudBlazor.Color.Error" Href="/ManageAccounts">Cancel</MudButton>

            </div>
        </EditForm>
    </div>

</div>

@code {
    InputType PasswordInput = InputType.Password;
}
